<htmL>
  <head>
<style>
  body{
    margin: 0px;
}
nav{
    background-color: #005b96;
    color: #ffffff;
    display: flex;
    height: 60px;
}
.start{
    width: 50%;
    margin: auto;
    font-family: inherit;
    display: flex;
}
.start a{
    color: white;
    float: right;
    font-size: 1em;
    margin-left: 10px;
    padding-right: 20px

}
.start p{
    font-size: 24px;
    padding-left: 10px;
    margin: 0px;
    padding-top: 10px;
    padding-right: 20px
}
</style>

  </head>



  <body> 
    <div id="section1">
      <header>
          <nav>
              <div class="start">
                  <p>
                    Angular Learning
                  </p>
              </div>
              <div class="start">
                  <a href="viewEmp"><span>View Employee</span></a>
                  <a href="list"><span>Employees</span></a>
                  <a href="editEmp"><span>Edit Employee</span></a>
                  <a href="EETD"><span>Edit Employee-Template</span></a>
                  <a href="QI"><span>Quantity Increment</span></a>
                  <a href="login"><span>Login</span></a>




              </div>
          </nav>
      </header>
  </div>
  <!------------------------------------------------------------------------------------------------------->
<h2>Employee details</h2>
<p>ID:{{employee.id}}</p>
<p>Name:{{employee.name}}</p>
<p>Salary:{{employee.salary | currency:'INR'}}</p>
<p *ngIf="employee.permanent;else elseBlock">
  Permanent:Yes</p>
<ng-template #elseBlock>
    <P>Permanent:No</P>
</ng-template>
<p>Department Id:{{employee.department.Id}}</p>
<p id=departmentName>Department Name:{{employee.department.name}}</p>
<p>Skills</p>
<table>
    <tr>
      <td>Skill Id</td>
      <td>Skill Name</td>
    </tr>
    <tr>
      <td><P *ngFor="let skill of employee.skill">{{skill.id}}</P> </td>
      <td><P *ngFor="let skill of employee.skill">{{skill.name}}</P></td>
    </tr>
  </table>
  <p>Date of Birth:{{employee.dateOfBirth|date:'mediumDate'}}</p>
</body>
</htmL>