<h3>Edit Form Builder</h3>
<form [formGroup]="empForm" (ngSubmit)="console()" autocomplete="off" >
<div class="form-group"> 
<b>Name</b><br>
<input type="text"  formControlName="name"><br>
</div>

<div class="form-group"> 
<b>Salary</b><br>
<input type="number" formControlName="salary"><br>
</div>

<div class="form-group"> 
<b>Permanent</b><br>
Yes<input type="radio"  formControlName="permanent" [value]=true>
No<input type="radio"  formControlName="permanent" [value]=false><br>
</div>

<div class="form-group"> 
<b>Skills</b><br>
<div formArrayName="Skills">
    <p>Enter Skill</p>
    <button class="btn btn-danger" (click)="addSkill();" >Add New Skill</button>
</div>
</div>

<div class="form-group"> 
<div *ngFor="let ski of Skills.controls">
    <label>Skill</label>
    <input type="text">
</div>
</div>

<p><button class="btn btn-primary"  type="submit" [disabled]="!empForm.valid">Submit</button></p>
</form>

<div>&nbsp;</div>
